:root {
  --dark-bg: #222529;
  --gray-bg: #282b2e;

  --gray-color: #333639;
  --red-color: #b73030;
  --green-color: #5cc1ac;
  --yellow-color: #f5c779;

  --text-color: #fff;
  --text-second-color: #3d4046;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2196f3;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #1565c0;
}

*::-webkit-scrollbar-track {
  background-color: #333;
}

body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--gray-bg);
  color: var(--text-color);
}
